SSS_WEB_APPLICATION/SSS_WEB_APPLICATION/Web References/SSS_WEB_SERVICE/SSS_SERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT_IMAGE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image_Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_IMAGEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_IMAGEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_USER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_USERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_USERResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TRAIN_DATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TRAIN_DATAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_TRAIN_DATAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TRAIN_IMAGES_MODEL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TRAIN_IMAGES_MODELResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TRAIN_IMAGES_MODELResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETURN_TRAINED_MODELS">
        <s:complexType />
      </s:element>
      <s:element name="RETURN_TRAINED_MODELSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_TRAINED_MODELSResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RETURN_USERS_IN_MODEL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Model_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETURN_USERS_IN_MODELResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_USERS_IN_MODELResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETURN_USER_WITH_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETURN_USER_WITH_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURN_USER_WITH_IDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DECREMENT_IMAGES_MODEL_VERSION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DECREMENT_IMAGES_MODEL_VERSIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DECREMENT_IMAGES_MODEL_VERSIONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="return_Users">
        <s:complexType />
      </s:element>
      <s:element name="return_UsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return_UsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Model_ID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="return_Images">
        <s:complexType />
      </s:element>
      <s:element name="return_ImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return_ImagesResult" type="tns:ArrayOfImage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Image">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Image_Path" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User_ID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CONTACT_JAVA_SERVER">
        <s:complexType />
      </s:element>
      <s:element name="CONTACT_JAVA_SERVERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CONTACT_JAVA_SERVERResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERT_IMAGESoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_IMAGE" />
  </wsdl:message>
  <wsdl:message name="INSERT_IMAGESoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_IMAGEResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_USERSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_USER" />
  </wsdl:message>
  <wsdl:message name="INSERT_USERSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_USERResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TRAIN_DATASoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_TRAIN_DATA" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TRAIN_DATASoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_TRAIN_DATAResponse" />
  </wsdl:message>
  <wsdl:message name="TRAIN_IMAGES_MODELSoapIn">
    <wsdl:part name="parameters" element="tns:TRAIN_IMAGES_MODEL" />
  </wsdl:message>
  <wsdl:message name="TRAIN_IMAGES_MODELSoapOut">
    <wsdl:part name="parameters" element="tns:TRAIN_IMAGES_MODELResponse" />
  </wsdl:message>
  <wsdl:message name="RETURN_TRAINED_MODELSSoapIn">
    <wsdl:part name="parameters" element="tns:RETURN_TRAINED_MODELS" />
  </wsdl:message>
  <wsdl:message name="RETURN_TRAINED_MODELSSoapOut">
    <wsdl:part name="parameters" element="tns:RETURN_TRAINED_MODELSResponse" />
  </wsdl:message>
  <wsdl:message name="RETURN_USERS_IN_MODELSoapIn">
    <wsdl:part name="parameters" element="tns:RETURN_USERS_IN_MODEL" />
  </wsdl:message>
  <wsdl:message name="RETURN_USERS_IN_MODELSoapOut">
    <wsdl:part name="parameters" element="tns:RETURN_USERS_IN_MODELResponse" />
  </wsdl:message>
  <wsdl:message name="RETURN_USER_WITH_IDSoapIn">
    <wsdl:part name="parameters" element="tns:RETURN_USER_WITH_ID" />
  </wsdl:message>
  <wsdl:message name="RETURN_USER_WITH_IDSoapOut">
    <wsdl:part name="parameters" element="tns:RETURN_USER_WITH_IDResponse" />
  </wsdl:message>
  <wsdl:message name="DECREMENT_IMAGES_MODEL_VERSIONSoapIn">
    <wsdl:part name="parameters" element="tns:DECREMENT_IMAGES_MODEL_VERSION" />
  </wsdl:message>
  <wsdl:message name="DECREMENT_IMAGES_MODEL_VERSIONSoapOut">
    <wsdl:part name="parameters" element="tns:DECREMENT_IMAGES_MODEL_VERSIONResponse" />
  </wsdl:message>
  <wsdl:message name="return_UsersSoapIn">
    <wsdl:part name="parameters" element="tns:return_Users" />
  </wsdl:message>
  <wsdl:message name="return_UsersSoapOut">
    <wsdl:part name="parameters" element="tns:return_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="return_ImagesSoapIn">
    <wsdl:part name="parameters" element="tns:return_Images" />
  </wsdl:message>
  <wsdl:message name="return_ImagesSoapOut">
    <wsdl:part name="parameters" element="tns:return_ImagesResponse" />
  </wsdl:message>
  <wsdl:message name="CONTACT_JAVA_SERVERSoapIn">
    <wsdl:part name="parameters" element="tns:CONTACT_JAVA_SERVER" />
  </wsdl:message>
  <wsdl:message name="CONTACT_JAVA_SERVERSoapOut">
    <wsdl:part name="parameters" element="tns:CONTACT_JAVA_SERVERResponse" />
  </wsdl:message>
  <wsdl:portType name="SSS_SERVICESoap">
    <wsdl:operation name="INSERT_IMAGE">
      <wsdl:input message="tns:INSERT_IMAGESoapIn" />
      <wsdl:output message="tns:INSERT_IMAGESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_USER">
      <wsdl:input message="tns:INSERT_USERSoapIn" />
      <wsdl:output message="tns:INSERT_USERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TRAIN_DATA">
      <wsdl:input message="tns:UPDATE_TRAIN_DATASoapIn" />
      <wsdl:output message="tns:UPDATE_TRAIN_DATASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TRAIN_IMAGES_MODEL">
      <wsdl:input message="tns:TRAIN_IMAGES_MODELSoapIn" />
      <wsdl:output message="tns:TRAIN_IMAGES_MODELSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RETURN_TRAINED_MODELS">
      <wsdl:input message="tns:RETURN_TRAINED_MODELSSoapIn" />
      <wsdl:output message="tns:RETURN_TRAINED_MODELSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RETURN_USERS_IN_MODEL">
      <wsdl:input message="tns:RETURN_USERS_IN_MODELSoapIn" />
      <wsdl:output message="tns:RETURN_USERS_IN_MODELSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RETURN_USER_WITH_ID">
      <wsdl:input message="tns:RETURN_USER_WITH_IDSoapIn" />
      <wsdl:output message="tns:RETURN_USER_WITH_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DECREMENT_IMAGES_MODEL_VERSION">
      <wsdl:input message="tns:DECREMENT_IMAGES_MODEL_VERSIONSoapIn" />
      <wsdl:output message="tns:DECREMENT_IMAGES_MODEL_VERSIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="return_Users">
      <wsdl:input message="tns:return_UsersSoapIn" />
      <wsdl:output message="tns:return_UsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="return_Images">
      <wsdl:input message="tns:return_ImagesSoapIn" />
      <wsdl:output message="tns:return_ImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CONTACT_JAVA_SERVER">
      <wsdl:input message="tns:CONTACT_JAVA_SERVERSoapIn" />
      <wsdl:output message="tns:CONTACT_JAVA_SERVERSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSS_SERVICESoap" type="tns:SSS_SERVICESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_IMAGE">
      <soap:operation soapAction="http://tempuri.org/INSERT_IMAGE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_USER">
      <soap:operation soapAction="http://tempuri.org/INSERT_USER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TRAIN_DATA">
      <soap:operation soapAction="http://tempuri.org/UPDATE_TRAIN_DATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TRAIN_IMAGES_MODEL">
      <soap:operation soapAction="http://tempuri.org/TRAIN_IMAGES_MODEL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_TRAINED_MODELS">
      <soap:operation soapAction="http://tempuri.org/RETURN_TRAINED_MODELS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_USERS_IN_MODEL">
      <soap:operation soapAction="http://tempuri.org/RETURN_USERS_IN_MODEL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_USER_WITH_ID">
      <soap:operation soapAction="http://tempuri.org/RETURN_USER_WITH_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DECREMENT_IMAGES_MODEL_VERSION">
      <soap:operation soapAction="http://tempuri.org/DECREMENT_IMAGES_MODEL_VERSION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_Users">
      <soap:operation soapAction="http://tempuri.org/return_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_Images">
      <soap:operation soapAction="http://tempuri.org/return_Images" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONTACT_JAVA_SERVER">
      <soap:operation soapAction="http://tempuri.org/CONTACT_JAVA_SERVER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSS_SERVICESoap12" type="tns:SSS_SERVICESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_IMAGE">
      <soap12:operation soapAction="http://tempuri.org/INSERT_IMAGE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_USER">
      <soap12:operation soapAction="http://tempuri.org/INSERT_USER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TRAIN_DATA">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_TRAIN_DATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TRAIN_IMAGES_MODEL">
      <soap12:operation soapAction="http://tempuri.org/TRAIN_IMAGES_MODEL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_TRAINED_MODELS">
      <soap12:operation soapAction="http://tempuri.org/RETURN_TRAINED_MODELS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_USERS_IN_MODEL">
      <soap12:operation soapAction="http://tempuri.org/RETURN_USERS_IN_MODEL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURN_USER_WITH_ID">
      <soap12:operation soapAction="http://tempuri.org/RETURN_USER_WITH_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DECREMENT_IMAGES_MODEL_VERSION">
      <soap12:operation soapAction="http://tempuri.org/DECREMENT_IMAGES_MODEL_VERSION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_Users">
      <soap12:operation soapAction="http://tempuri.org/return_Users" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="return_Images">
      <soap12:operation soapAction="http://tempuri.org/return_Images" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CONTACT_JAVA_SERVER">
      <soap12:operation soapAction="http://tempuri.org/CONTACT_JAVA_SERVER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSS_SERVICE">
    <wsdl:port name="SSS_SERVICESoap" binding="tns:SSS_SERVICESoap">
      <soap:address location="http://192.168.43.175:8080/SSS_SERVICE.asmx" />
    </wsdl:port>
    <wsdl:port name="SSS_SERVICESoap12" binding="tns:SSS_SERVICESoap12">
      <soap12:address location="http://192.168.43.175:8080/SSS_SERVICE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>